
/**
styles 

*/

body {
  font-family: "Lato", sans-serif;
}

.sidebar { 
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0px;
  /* background-color: #111; */
  background-image:url("../img/fondoside3.png");
  background-repeat:no-repeat;  
  transition: 0.5s;
  padding-top: 20px;
  height: 620px;
  width: 0px;
  overflow-y: auto; 
    
}

.sidebar a {
  padding: 9px 9px 9px 7px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.paddleft_10{
   padding-left: 10px;
}

.paddleft_70{
   padding-left: 70px;
}


.mgleft_10{
   margin-left: 10px;
}

.bgbtnhamb{
   background-color: blue;
}

.spancolor_blue{
  color:blue; 
}

.spansize_20{
   font-size: 20px;
}

.rounded_15{
   border-radius: 15px;
}

.w_42{
   width:42px;
}

.links{
   text-decoration: none;"
}

.btn-rounded{
   border-radius: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav
 (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

   * {
      box-sizing: border-box;
    }
    .container {
      margin-top: 30px;
      text-align: center;
    }
   .tooltips {
      margin-right:15px; position: relative;"      
    }
   .tooltips-content {
      color: white;
      background: black;
      padding: 5px;
      border-radius: 5px;
      visibility: hidden;  /*hides the tooltip content */
      margin-left: 20px;
    
      /* positions the tooltip content */
      position: absolute;
      z-index: 1;
      text-align: center;
      width: 100px;      
      top: -150%; /* to the top */
    }
    .tooltips:hover > .tooltips-content {
      visibility: visible; /* shows the tooltip content on mouse over */
    }

